<html>
<head>
<style>
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	display: inline;
}
</style>
</head>
<body>

<p>
<div class = "menu">
	<ul>
		<li><%= link_to 'Create Club', new_club_path %></li>
		<li><%= link_to 'Join Club', join_path %> </li>
	</ul>
</div>
</p>

<% if @user_memberships.count('id') > 0 %>
	<h2>My Clubs</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Club Name</th>
				<th>Club Description</th>
				<th>Status</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
			<% @user_memberships.each do |user_membership| %>
			<tr>
				<td><%= link_to user_membership.name, club_path(user_membership.id) %></td>
				<td><%= user_membership.description %></td>
				<td>
					<% if user_membership.approved == 't' %>
						Active
					<% else %>
						Pending Aproval
					<% end %>
				</td>
				<td>
					<% if user_membership.admin_id == current_user.id %>
						Admin
					<% else %>
						Member
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p> You are currently not a member of any club.  Click the links above to either start a new club or to join an existing club. 
	</p>
<% end %>
<br>

</body>
</html>
