<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<style>

.create_account a:link{
	text-decoration: underline;
}
</style>

<h1><span style="color: #008080;">Welcome to ClubHUB!</span></h1>
<p>&nbsp;</p>
<p>ClubHUB is a one stop shop for club members to stay organized and make communication easy and clutter-free.&nbsp;</p>
<h2 style="color: #2e6c80;">Some useful features:</h2>
<ul style="list-style-type: circle;">
<li>Keep up with event dates</li>
<li>Communicate with all club members</li>
</ul>
<p>&nbsp;</p>
<p class="create_account"><%= link_to 'Create an account', new_user_registration_path %> today and make your club membership experience pain free.&nbsp;</p>
<p><strong>&nbsp;</strong></p>